//basic tags and general rules
body {
	font-family: 'roboto-regular';
	font-size: 100%;
	box-sizing: border-box;
	/* overflow: hidden; */
}

.body-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	z-index: 10;
}

.header {
	/* flex-grow: 1; */
}

.main {
	/* flex-grow: 1; */
	display: inline-flex;
	flex-direction: column;
}

.footer {
	max-height: 200px;
	flex-grow: 1;
}
