//forms, buttons, dialogs etc.
//button

/* Begining of buttons */
.button	{
	
}

.button-more {
	
}

.button-more:hover {
	
}  
/* Eending of buttons */


/* begining of INPUTS */

	input[type="number"],
	input[type="text"],
	textarea {

		&::-webkit-input-placeholder { color: #000000;}/* Chrome/Opera/Safari */
	  	&::-moz-placeholder { color: #000000;} /* Firefox 19+ */
	  	&:-ms-input-placeholder { color: #000000; }/* IE 10+ */
	  	&:-moz-placeholder { color: #000000;} /* Firefox 18- */
	}

	input::placeholder {
		color: #000000;
	}

	textarea::placeholder {
		color: #000000;
	}

	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
    	margin:0;
    }

    input[type='number'] {
    -moz-appearance: textfield;
	}

	input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
	input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
	input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
	input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
	input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
	input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
	input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
	input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

	textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
	textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
	textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
	textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
	textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
	textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
	textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
	textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
/* begining of INPUTS */

.clearfix{

  	&::after {
    	display: block;
    	content: "";
    	clear: both;
  }
}

/* WP Styles*/
.alignright {
	float: right;
}

.alignleftt {
	float: left;
}
/* WP Styles*/



@keyframes rotate_flip_front {
	0% {transform: rotateX(0deg) translateZ(10px);}
	10% {transform: rotateX(-180deg) translateZ(10px);}
	50% {transform: rotateX(-180deg) translateZ(10px);}
	60% {transform: rotateX(0deg) translateZ(10px);}
	100% {transform: rotateX(0deg) translateZ(10px);}
}

@keyframes rotate_flip_back {
	0% {transform: rotateX(180deg) translateZ(10px);}
	10% {transform: rotateX(0deg) translateZ(10px);}
	50% {transform: rotateX(0deg) translateZ(10px);}
	60% {transform: rotateX(180deg) translateZ(10px);}
	100% {transform: rotateX(180deg) translateZ(10px);}
}
